body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  margin: 0 !important;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  color: #ffffff;
}
header.smaller {
  height: 75px;
}

header.smaller h1#logo {
  width: 150px;
  height: 75px;
  line-height: 55px;
  font-size: 55px;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
}
.active {
  border-bottom: 4px solid #fff;
}
a {
  text-decoration: none;
  font-weight: 300;
}

a:hover {
}

#wrapper {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px;
}

section {
  padding: 60px 0;
}

section h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

section p {
  margin-bottom: 30px;
}

section p:last-child {
  margin-bottom: 0;
}

section.color {
}

header {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: height 0.3s;
}

header h1#logo {
  display: inline-block;
  line-height: 120px;
  margin: 0;
  padding: 0 1em;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  text-shadow: 0.1em 0.03em #304ba6;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav {
  display: inline-block;
  float: right;
}

header nav a {
  line-height: 150px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 1em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

header nav a:hover {
}

header.smaller {
  height: 75px;
  background-color: #5548b0;
}

header.smaller h1#logo {
  line-height: 75px;
  font-size: 30px;
}

footer {
  background-color: #3c3c3c;
  text-align: center;
  min-height: 17em;
  color: #bababa;
}

footer a {
  display: inline-block;
  margin: 0;
  text-decoration: underline;
}
footer div.col {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}
footer col a {
  display: block;
}

footer ul li a:hover {
  color: #fd5559;
}
footer ul li a {
  color: #bababa;
}
footer div#copy {
  margin-top: 1em;
  padding: 0;
}
footer div#copy a {
  color: #fd5559;
}
footer div.container {
  position: relative;
}
footer ul {
  list-style: none;
  margin-top: 2em;
  padding: 0;
}
footer ul li {
  text-align: left;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

.menu-icon {
  display: none;
}
@media all and (max-width: 760px) {
  .menu-icon {
    display: block;
  }
  .row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .skills {
    padding-left: 10px !important;
  }
  .praveen-title {
    margin: 0;
    position: absolute;
    top: 5% !important ;
    transform: translateY(-50%);
    transform: translateX(0%) !important;
    width: 100%;
    font-size: 62px !important;
    color: #fff;
  }
  .menu-icon {
    text-align: right;
    padding-right: 23px;
    padding-top: 9px;
  }
  .my-img-section {
    text-align: center;
    padding-top: 40px !important;
    padding-bottom: 8px !important;
  }
  #js-header {
    /* display: none; */
  }
  .container {
    width: 100%;
  }

  footer a {
    display: block;
  }
  .hide-menu {
    display: none;
  }

  header .nav-mobile {
    display: grid;
    position: fixed;
    background-color: rgb(43, 43, 43);
    height: 320px;
    width: 100%;
  }
  .menu-link:hover {
    background-color: #fff;
    color: #000;
  }

  header nav a {
    line-height: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  header nav a:hover {
  }
  .menu-link {
    line-height: 50px;
    margin: 0;
  }
  .active {
    border-bottom: none;
    color: #000 !important;
    margin: 0;
  }
}

.menu-link {
  font-weight: 600;
  font-size: 20px;
}
.element {
  min-height: 200px;
}
.header-background {
  height: 100vh;
  background: url(./images/pep1.jpg);

  position: relative;
  background-size: cover;
}
.praveen-title {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-25%);
  width: 100%;
  font-size: 75px;
  color: #fff;
}
.my-role {
  font-size: 40px;
}
.title {
}
.element {
  min-height: 200px;
}
.about {
  background-color: rgb(43, 43, 43);
  height: 100%;
  color: #ffffff;
  text-align: left;
  /* padding-bottom: 50px; */
}
.about-me {
  padding-top: 50px;
}
.content-color-gray {
  color: rgb(122, 122, 122);
}
.span-about-contact-label {
  width: 100px;
  display: inline-block;
}
.button-download {
  display: inline-block;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  margin-bottom: 18px;
  cursor: pointer;
  height: auto;
  background: #444;
  text-decoration: none;
  padding: 12px 20px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
  font-weight: 600;
}
.button-download:hover {
  background: #fff;
  color: #000000;
}
.my-img-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.my-img {
  border-radius: 50%;
  height: 250px;
}
.social {
  list-style: none outside;
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
.education {
  text-align: left;
  color: #fff;
  background-image: url("./images/u3.jpg");
  position: relative;
  background-size: cover;
}
.content {
  font-size: 17px;
}
.underline {
  text-decoration: underline;
}
.works {
  text-align: left;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(./images/w4.jpg);
  background-size: cover;
  color: #fff;
}
.technology-stack {
  text-align: left;
  height: 100%;
  padding-bottom: 50px;
}
.footer-menu-link {
  text-decoration: underline !important;
}
.skills {
  text-align: left;
  font-size: 16px;
  padding: 0;
}
.width-100 {
  width: 100%;
}
.section-child {
  padding-top: 90px;
  padding-bottom: 50px;
  min-height: 90vh;
}
